<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
                <app-update-rayon
                [rayon]="updatedRay"
                (rayonUpdated)= "rayonUpdated($event)"
                [ajout]="ajout">
                </app-update-rayon>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Catégorie</th>
                    </tr>
                </thead>
                <tbody *ngFor="let ray of rayons">
                    <tr>
                        <td>{{ray.idRay}}</td>
                        <td>{{ray.nomRay}}</td>
                        <td><a class="btn btn-success" (click)="updateRay(ray)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>